<div id="banner">
	<div class="outline"></div>

	<div class="frame frame1">		
		<!-- <img class="retina" src="./images/f0.png" alt="" inline> -->
		<img class="monkey_hop retina" src="./images/monkey_hop.jpg" alt="" inline>
		<img class="monkey_hop_shadow retina" src="./images/monkey_hop_shadow.png" alt="" inline>

	</div>
	<div class="frame frame2">		

		<div class="animalHolder">			
			<img class="monkey_blink retina" src="./images/monkey_blink.jpg" alt="" inline>
			<img class="monkey_blink_close retina" src="./images/monkey_blink_close.png" alt="" inline>
		</div>
		<img class="t1 retina" src="./images/t1.png" alt="" inline>
		<img class="t2 retina" src="./images/t2.png" alt="" inline>
	</div>

	<div class="frame frame3">
		<!-- <img class="framer retina" src="./images/f1.png" alt="" inline> -->
		
		
		<div class="tvMain">
			<img class="monkey_popping_out retina" src="./images/monkey_popping_out.jpg" alt="" inline>
			<img class="tv retina" src="./images/tv.png" alt="" inline>	
			<img class="screen strange retina" src="./images/screen_3.jpg" alt="" inline>
			<img class="screen det retina" src="./images/screen_2.jpg" alt="" inline>
			<img class="screen got retina" src="./images/screen_1.jpg" alt="" inline>
		</div>
		
		<img class="t3 retina" src="./images/t3.png" alt="" inline>
		<img class="legal retina" src="./images/legal.png" alt="" inline>
		<div id="cta" class="cta"></div>
		<img class="cta_1 retina" src="./images/cta_1.png" alt="" inline>
		<img class="cta_2 retina" src="./images/cta_2.png" alt="" inline>
	</div>
	
	<img class="logo retina" src="./images/logo.png" alt="" inline>

</div>