

@import '../../../_common/styles/common.scss';

.frame1{
	opacity: 1;
	

	.monkey_hop, .monkey_hop_shadow{
		@include pos-scale(-110, -0, .5);		
	}

	.monkey_hop_shadow{
		opacity: .1;
	}
}



.frame2{
	// opacity: 1;
	.animalHolder{
		// opacity:.6;	
		@include pos-scale(27, 40, 1);
		// left:28px;
		
		width: 100%;
		height: 100%;
		.monkey_blink{			
			@include pos-scale(33, -40, 0.17);
		}

		.monkey_blink_close{
			@include pos-scale(33, -40, 0.17);
			opacity: 0;
		}
	}
}




.frame3 {
	// opacity: 1;
	#cta{
		width: 101px;
		height: 26px;
		background-color: #238700;
		// border: 1px solid red;
		
		@include pos(602, 51);
		border-radius: 5px;
	}
	

	.cta_2{
		opacity: 0;
	}

	.tvMain{
		@include pos-scale(18, 10, 0.608);
		width: 199px;
		.screen{
			width: 185px;
			@include pos(3, 3);
		}
	}

	.monkey_popping_out{
		transform-origin: 100% 50%;		
		width: 203px;
		@include pos-scale-rotate(-155, -40, .5, 0);
	}
}


#banner{
	width: 728px;
	height: 90px;
}



